*{
    margin: 0;
    padding: 0;
  }
  
  body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #10101E;

  }
    #footer{
display: block;
text-align: center;
justify-content: center;
margin-top: 180px;
  }
  .datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
    margin-top: 30px;

  }
  
 
  
  .date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }

#bg1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #141e30, #243b55);
    margin-right: 30px;
    cursor: pointer;
}#bg2{
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #e44d26, #f16529);
}#bg3{
    border-radius: 50%;
    cursor: pointer;    margin-right: 30px;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #1d4350, #a43931);
}#bg4{
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}
        